style.
  .table td, .table th {
  vertical-align: middle;
  }
  h1 {
  color: blue;
  }
  hr {
  background-color: #ddd;
  }
  .jumbotron {
  min-height: 100vh;
  }
.jumbotron
  h1 Ingrese Producto
  br
  form(action='/api/productos/guardar' method='POST')
    i Nombre
    input(type='text' name='title')
    i Precio
    input(type='text' name='price')
    i Foto URL
    input(type='text' name='thumbnail')
    button Enviar